<h4>Alesha Walsh</h4>

<p>alesha@flextech.net</p>

<table class="table">
  <tr>
    <td><i class="fas fa-key"></i> Active</td>
    <td>4096R/D3C31B43</td>
    <td>(This is my primary key)</td>
    <td width="30%"class="text-danger">Expires: 2021-09-05 <i class="fas fa-exclamation-triangle"></i></td>
    <td width="25%"><a href="#" class="btn btn-sm btn-light" id='view-test-button' data-pressed='false'><i class="fas fa-angle-down"></i> View test results</a></td>
  </tr>
</table>

<p>
  Their key expires in 3 years. It is best practice to set this to 2 years or less.
</p>

<p>Their key has a comment on it. It is best practice <strong>not</strong> to have comments.</p>

<p>
  Fluidkeys would fix this by setting setting a shorter expiry date, and automatically refreshing their key as long as they’re still at Flextech.
</p>

<a href="report-3" class="btn btn-primary">Next</a>
